/** @format */

// COLORS
$color-primary: #081a51;
$color-primary-light: #017efa;
$color-primary-dark: #1c1f37;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-light-2: #51cbff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #fafafa;

$color-grey-dark: #a9abb0;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-green: #30d987;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

$font-50: 5rem;
$font-26: 2.6rem;
$font-20: 2rem;
$font-17: 1.7rem;
$font-14: 1.4rem;
$font-16: 1.6rem;
$font-12: 1.2rem;

// font family
$font-primary: 'Lora', serif;
$font-secondary: 'Oxygen', sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
